<nav
  class="bg-gray-800 text-white px-4 py-3 flex items-center justify-between flex-wrap"
>
  <!-- Logo -->
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span
      routerLink="home"
      class="font-semibold text-xl tracking-tight cursor-pointer"
      >GearNest</span
    >
  </div>

  <!-- Hamburger Icon -->
  <div class="block lg:hidden">
    <button
      (click)="toggleMenu()"
      class="flex items-center px-3 py-2 border rounded text-gray-300 border-gray-400 hover:text-white hover:border-white"
    >
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>

  <!-- Menu Items -->
  <div
    [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen }"
    class="w-full lg:flex lg:items-center lg:w-auto lg:block"
  >
    <div class="text-sm lg:flex-grow">
      <a
        routerLink="/home"
        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4"
      >
        Home
      </a>
      <a
        routerLink="/about"
        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4"
      >
        About
      </a>
      <a
        routerLink="/products"
        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4"
      >
        Products
      </a>
    </div>
    <div>
      <a
        routerLink="/login"
        class="inline-block text-sm px-4 py-2 border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 mr-2"
      >
        Login
      </a>
      <a
        routerLink="/register"
        class="inline-block text-sm px-4 py-2 border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0"
      >
        Register
      </a>
    </div>
  </div>
</nav>
